* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	background-image: url('../../public/img/background.jpg');
	background-attachment: fixed;
}

header-comp {
	display: flex;
	justify-content: space-between;
	background-color: black;
	padding: 12px;

	nav {
		width: fit-content;
		display: flex;
		align-items: center;
		ul {
			display: flex;

			li {
				list-style: none;
				margin: 0 20px;

				a {
					text-transform: uppercase;
					color: white;
					font-size: 1.5em;
					position: relative;

					&:hover::before {
						background-color: #ffcb08;
						width: 100%;
					}

					&::before {
						content: '';
						position: absolute;
						bottom: -10px;
						left: 0px;
						width: 0%;
						height: 5px;
						background-color: transparent;
						transition: width 0.1s ease-in-out;
					}
				}
				.activeLink {
					color: #ffcb08;
				}
			}
		}
	}
}
.counters {
	display: flex;
	flex-direction: column;
	width: fit-content;
	align-self: center;

	div {
		display: flex;

		img {
			width: 32px;
			filter: invert(86%) sepia(27%) saturate(6268%) hue-rotate(349deg) brightness(112%)
				contrast(109%);
			margin-right: 15px;
		}
	}
}
counter-comp {
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	align-self: center;
}

.preload {
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		border-radius: 50%;
	}
}

pokemon-list-comp,
history-comp {
	background: white;
	padding: 10px 20px;
	display: block;
	width: 980px;
	margin: 75px auto 200px auto;
	border-radius: 25px;
	padding: 25px 25px;
	box-shadow: 0px 0px 30px black;
	position: relative;
	table {
		border-spacing: 1px;
		width: 100%;

		thead {
			background-color: #ffcb08;
			th {
				padding: 20px;
				text-align: center;
				&:first-child {
					border-radius: 20px 0 0 0;
				}
				&:last-child {
					border-radius: 0 20px 0 0;
				}
			}
		}
		tbody {
			background-color: #efefef;
			tr {
				cursor: pointer;
				td {
					padding: 20px;
					text-align: center;

					&:last-child {
						border-right: 0;
					}

					img {
						width: 48px;
						display: block;
						margin: auto;
					}
				}

				&:nth-of-type(odd) {
					background-color: #efefef;
				}

				&:nth-of-type(even) {
					background-color: #ddd;
				}
			}
		}
	}
}

.wildListBody {
	tr {
		&:hover {
			background-color: rgba(255, 203, 8, 0.3);
		}
	}
}

#reloadWildList {
	display: block;
	position: absolute;
	right: 50%;
	transform: translate(50%);
	padding: 10px 25px;
	background: #ffcb08;
	border: 8px solid #fff;
	top: -36px;
	border-radius: 25px 25px 0 0;
	border-bottom: 0;
	z-index: 0;
	cursor: pointer;

	&:hover {
		background: #ffab08;
	}

	.rotate-img {
		width: 30px;
	}
}

#reloadWildList.inactive {
	background: rgb(255, 90, 90);
	cursor: default;
	&:hover {
		background: red;
	}
}

.rotate {
	animation: rotation 1.5s linear 1;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.captureModalContainer {
	backdrop-filter: blur(5px);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;

	capture-comp {
		position: fixed;
		padding: 30px;
		background: white;
		top: 50%;
		right: 50%;
		transform: translate(50%, -50%);
		width: auto;
		border-radius: 25px;
		box-shadow: 0px 0px 30px black;
		text-align: center;
		p {
			background-color: #ddd;
			padding: 10px;
			text-align: center;
			margin: 0;
			border-radius: 10px;
			&:first-child {
				background-color: lightgreen;
			}
			&.modal-msg {
				margin-bottom: 15px;
			}
		}
		img {
			max-width: 400px;
		}
		div div {
			display: flex;
			width: 100%;
			justify-content: space-between;
		}
		#btn-back {
			width: 45px;
			cursor: pointer;
			transition: filter 0.3s ease;
			&:hover {
				filter: invert(15%) sepia(49%) saturate(7483%) hue-rotate(359deg) brightness(102%)
					contrast(125%);
			}
			filter: invert(72%) sepia(14%) saturate(5075%) hue-rotate(309deg) brightness(101%)
				contrast(88%);
		}
		#btn-capture {
			border: 0;
			color: #f08080;
			float: right;
			font-size: 45px;
			background-color: white;
			width: 45px;
			padding: 0;
			cursor: pointer;
			&:hover {
				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
			}
			img {
				width: 47px;
				margin-top: 10px;
			}
		}
	}
}

footer-comp {
	background: #003da1;
	display: flex;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px 100px;

	usercard-comp {
		padding: 15px;
		text-align: center;
		cursor: pointer;
		margin: 0 30px;
		border-radius: 15px;

		img {
			width: 35px;
		}

		h4 {
			margin: 10px 0;
			text-transform: uppercase;
			color: #ffcb08;
		}

		.nbrPkm {
			color: white;
		}

		&:hover {
			background-color: #05327a;
		}
	}

	.currentUser {
		background-color: #ffcb08;

		h4 {
			color: black;
		}
		.nbrPkm {
			text-transform: none;
			color: #555;
		}

		&:hover {
			background-color: #ffcb08;
		}
	}
}

pokedex-comp {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-bottom: 200px;

	pokedexcard-comp {
		margin: 5px 0 25px 15px;

		title-comp {
			background-color: black;
			color: #fff;
			width: 220px;
			display: flex;
			justify-items: center;
			justify-content: space-between;
			padding: 10px;
			border-radius: 25px 25px 0 0;
			border: solid black;

			.pokemonId {
				float: left;
			}
			.pokemonName {
				text-align: center;
			}
			.pokedexBtn {
				width: 40px;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.favoris {
					height: 15px;
					cursor: pointer;
				}
				.delete {
					height: 19px;
					cursor: pointer;
					filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(340deg)
						brightness(104%) contrast(101%);
				}
				.active {
					margin: 2px 0 2px 0;
				}
				.hidden {
					display: none;
				}
			}
		}
		.img-pokemon {
			height: 240px;
			background-color: #faf9f6;
			border: solid;
			border-top: none;
			cursor: pointer;
		}

		.speed {
			position: absolute;
			margin-left: 186px;
			margin-top: -25px;
			.speed-img {
				height: 15px;
			}
		}
	}
}

.hold {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	backdrop-filter: blur(5px);
}

pokedexdetail-comp {
	border: 4px solid black;
	border-radius: 24px 24px 0 0;
	width: fit-content;
	margin-bottom: 30px;
	position: absolute;
	top: 7%;
	left: 50%;
	transform: translate(-50%);
	position: fixed;
	background-color: #fff;
	width: 800px;
	title-comp {
		padding: 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 4px solid black;
		border-radius: 18px 18px 0 0;
		background-color: #000;
		.pokemonId {
			color: #ffab08;
			font-size: 24px;
		}
		.pokemonName {
			text-align: center;
			color: #ffab08;
			font-size: 36px;
		}
		.pokedexBtn {
			display: flex;
			width: 80px;
			justify-content: space-between;
			align-items: center;

			.favoris {
				height: 30px;
				cursor: pointer;
			}
			.delete {
				height: 35px;
				cursor: pointer;
				filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(340deg) brightness(104%)
					contrast(101%);
			}
		}
	}
	.detailModal {
		width: 100%;
		display: flex;
		border-bottom: 4px solid black;
		.img-pokemon {
			width: 400px;
			border-right: 4px solid black;
		}
		.infoBox {
			width: 400px;
			height: 400px;
			padding: 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.stats {
				display: flex;
				justify-content: space-evenly;
				align-items: center;

				div {
					display: flex;
					flex-direction: column;
					align-items: center;

					.stats-img {
						height: 25px;
					}

					p {
						margin: 0 0 15px 0;
					}
				}
			}

			.types {
				display: flex;
				justify-content: center;
				div {
					display: flex;
					align-items: center;
					margin-right: 15px;
					img {
						height: 25px;
						margin-right: 8px;
					}
				}
			}

			.evoline {
				display: flex;
				flex-direction: column;
				overflow: auto;
				div {
					text-align: center;
					h3 {
						margin: 0 auto;
						width: fit-content;
					}
					div {
						display: flex;
						justify-content: center;
						flex-wrap: wrap;
						margin: 0 10px;
						div {
							display: flex;
							flex-direction: column;
						}
					}
				}
			}
		}
	}
	.comment {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		.showComment {
			background-color: #003da1;
			color: #ffcb08;
			margin: 10px 0;
			padding: 6px 18px;
			border-radius: 25px;
			width: 264px;
			overflow-wrap: break-word;
			text-align: center;
		}
		.commentField {
			width: 300px;
			height: 50px;
			resize: none;
			overflow: auto;
			margin-bottom: 20px;
		}
		#btn-back {
			position: absolute;
			top: 30%;
			left: 2%;
			width: 45px;
			cursor: pointer;
			transition: filter 0.3s ease;
			&:hover {
				filter: invert(15%) sepia(49%) saturate(7483%) hue-rotate(359deg) brightness(102%)
					contrast(125%);
			}
			filter: invert(72%) sepia(14%) saturate(5075%) hue-rotate(309deg) brightness(101%)
				contrast(88%);
		}
	}
}

history-select-comp {
	.historySelector {
		display: flex;
		justify-content: center;
		margin-top: 25px;

		img {
			height: 32px;
		}

		div {
			background-color: #000;
			border-radius: 24px;
			height: 64px;
			width: 128px;
			margin: 0 10px;
			cursor: pointer;
		}

		div:hover {
			background-color: #202020;
		}

		.selectOne {
			position: relative;

			.oneBlue {
				position: absolute;
				top: 50%;
				left: 50%;
				translate: -50% -50%;
			}
		}

		.selectAll {
			position: relative;

			.allBlue {
				position: absolute;
				left: 30px;
				top: 50%;
				translate: 0 -50%;
				z-index: 1;
			}

			.allGrey {
				position: absolute;
				top: 50%;
				left: 50%;
				translate: -50% -50%;
			}

			.allRed {
				position: absolute;
				right: 30px;
				top: 50%;
				translate: 0 -50%;
			}
		}

		.selectAllSorted {
			position: relative;
			.allSortBlue {
				position: absolute;
				top: 50%;
				left: 30px;
				translate: 0 -50%;
				z-index: 3;
			}

			.allSortGrey {
				position: absolute;
				top: 50%;
				left: 50%;
				translate: -50% -50%;
				z-index: 2;
			}

			.allSortRed {
				position: absolute;
				top: 50%;
				right: 30px;
				translate: 0 -50%;
			}
		}

		.activeHistory {
			background-color: #ffcb08;
		}
		.activeHistory:hover {
			background-color: #ffcb08;
		}
	}
}
