* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-image: url("../../public/img/background.jpg");
  background-attachment: fixed;
}

header-comp {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 12px;
}
header-comp nav {
  width: fit-content;
  display: flex;
  align-items: center;
}
header-comp nav ul {
  display: flex;
}
header-comp nav ul li {
  list-style: none;
  margin: 0 20px;
}
header-comp nav ul li a {
  text-transform: uppercase;
  color: white;
  font-size: 1.5em;
  position: relative;
}
header-comp nav ul li a:hover::before {
  background-color: #ffcb08;
  width: 100%;
}
header-comp nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 0%;
  height: 5px;
  background-color: transparent;
  transition: width 0.1s ease-in-out;
}
header-comp nav ul li .activeLink {
  color: #ffcb08;
}

.counters {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-self: center;
}
.counters div {
  display: flex;
}
.counters div img {
  width: 32px;
  filter: invert(86%) sepia(27%) saturate(6268%) hue-rotate(349deg) brightness(112%) contrast(109%);
  margin-right: 15px;
}

counter-comp {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  align-self: center;
}

.preload {
  display: flex;
  justify-content: center;
  align-items: center;
}
.preload img {
  border-radius: 50%;
}

pokemon-list-comp,
history-comp {
  background: white;
  padding: 10px 20px;
  display: block;
  width: 980px;
  margin: 75px auto 200px auto;
  border-radius: 25px;
  padding: 25px 25px;
  box-shadow: 0px 0px 30px black;
  position: relative;
}
pokemon-list-comp table,
history-comp table {
  border-spacing: 1px;
  width: 100%;
}
pokemon-list-comp table thead,
history-comp table thead {
  background-color: #ffcb08;
}
pokemon-list-comp table thead th,
history-comp table thead th {
  padding: 20px;
  text-align: center;
}
pokemon-list-comp table thead th:first-child,
history-comp table thead th:first-child {
  border-radius: 20px 0 0 0;
}
pokemon-list-comp table thead th:last-child,
history-comp table thead th:last-child {
  border-radius: 0 20px 0 0;
}
pokemon-list-comp table tbody,
history-comp table tbody {
  background-color: #efefef;
}
pokemon-list-comp table tbody tr,
history-comp table tbody tr {
  cursor: pointer;
}
pokemon-list-comp table tbody tr td,
history-comp table tbody tr td {
  padding: 20px;
  text-align: center;
}
pokemon-list-comp table tbody tr td:last-child,
history-comp table tbody tr td:last-child {
  border-right: 0;
}
pokemon-list-comp table tbody tr td img,
history-comp table tbody tr td img {
  width: 48px;
  display: block;
  margin: auto;
}
pokemon-list-comp table tbody tr:nth-of-type(odd),
history-comp table tbody tr:nth-of-type(odd) {
  background-color: #efefef;
}
pokemon-list-comp table tbody tr:nth-of-type(even),
history-comp table tbody tr:nth-of-type(even) {
  background-color: #ddd;
}

.wildListBody tr:hover {
  background-color: rgba(255, 203, 8, 0.3);
}

#reloadWildList {
  display: block;
  position: absolute;
  right: 50%;
  transform: translate(50%);
  padding: 10px 25px;
  background: #ffcb08;
  border: 8px solid #fff;
  top: -36px;
  border-radius: 25px 25px 0 0;
  border-bottom: 0;
  z-index: 0;
  cursor: pointer;
}
#reloadWildList:hover {
  background: #ffab08;
}
#reloadWildList .rotate-img {
  width: 30px;
}

#reloadWildList.inactive {
  background: rgb(255, 90, 90);
  cursor: default;
}
#reloadWildList.inactive:hover {
  background: red;
}

.rotate {
  animation: rotation 1.5s linear 1;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.captureModalContainer {
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.captureModalContainer capture-comp {
  position: fixed;
  padding: 30px;
  background: white;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: auto;
  border-radius: 25px;
  box-shadow: 0px 0px 30px black;
  text-align: center;
}
.captureModalContainer capture-comp p {
  background-color: #ddd;
  padding: 10px;
  text-align: center;
  margin: 0;
  border-radius: 10px;
}
.captureModalContainer capture-comp p:first-child {
  background-color: lightgreen;
}
.captureModalContainer capture-comp p.modal-msg {
  margin-bottom: 15px;
}
.captureModalContainer capture-comp img {
  max-width: 400px;
}
.captureModalContainer capture-comp div div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.captureModalContainer capture-comp #btn-back {
  width: 45px;
  cursor: pointer;
  transition: filter 0.3s ease;
  filter: invert(72%) sepia(14%) saturate(5075%) hue-rotate(309deg) brightness(101%) contrast(88%);
}
.captureModalContainer capture-comp #btn-back:hover {
  filter: invert(15%) sepia(49%) saturate(7483%) hue-rotate(359deg) brightness(102%) contrast(125%);
}
.captureModalContainer capture-comp #btn-capture {
  border: 0;
  color: #f08080;
  float: right;
  font-size: 45px;
  background-color: white;
  width: 45px;
  padding: 0;
  cursor: pointer;
}
.captureModalContainer capture-comp #btn-capture:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.captureModalContainer capture-comp #btn-capture img {
  width: 47px;
  margin-top: 10px;
}

footer-comp {
  background: #003da1;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 100px;
}
footer-comp usercard-comp {
  padding: 15px;
  text-align: center;
  cursor: pointer;
  margin: 0 30px;
  border-radius: 15px;
}
footer-comp usercard-comp img {
  width: 35px;
}
footer-comp usercard-comp h4 {
  margin: 10px 0;
  text-transform: uppercase;
  color: #ffcb08;
}
footer-comp usercard-comp .nbrPkm {
  color: white;
}
footer-comp usercard-comp:hover {
  background-color: #05327a;
}
footer-comp .currentUser {
  background-color: #ffcb08;
}
footer-comp .currentUser h4 {
  color: black;
}
footer-comp .currentUser .nbrPkm {
  text-transform: none;
  color: #555;
}
footer-comp .currentUser:hover {
  background-color: #ffcb08;
}

pokedex-comp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
pokedex-comp pokedexcard-comp {
  margin: 5px 0 25px 15px;
}
pokedex-comp pokedexcard-comp title-comp {
  background-color: #faf9f6;
  width: 220px;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 25px 25px 0 0;
  border: solid;
}
pokedex-comp pokedexcard-comp title-comp .pokemonId {
  float: left;
}
pokedex-comp pokedexcard-comp title-comp .pokemonName {
  text-align: center;
}
pokedex-comp pokedexcard-comp title-comp .pokedexBtn {
  width: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
pokedex-comp pokedexcard-comp title-comp .pokedexBtn .favoris {
  height: 15px;
  cursor: pointer;
}
pokedex-comp pokedexcard-comp title-comp .pokedexBtn .delete {
  height: 19px;
  cursor: pointer;
}
pokedex-comp pokedexcard-comp title-comp .pokedexBtn .active {
  margin: 2px 0 2px 0;
}
pokedex-comp pokedexcard-comp title-comp .pokedexBtn .hidden {
  display: none;
}
pokedex-comp pokedexcard-comp .img-pokemon {
  height: 240px;
  background-color: #faf9f6;
  border: solid;
  border-top: none;
  cursor: pointer;
}
pokedex-comp pokedexcard-comp .speed {
  position: absolute;
  margin-left: 186px;
  margin-top: -25px;
}
pokedex-comp pokedexcard-comp .speed .speed-img {
  height: 15px;
}

pokedexdetail-comp {
  border: 4px solid black;
  border-radius: 24px 24px 0 0;
  width: fit-content;
  margin-bottom: 30px;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%);
  position: fixed;
  background-color: #fff;
  width: 800px;
}
pokedexdetail-comp title-comp {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid black;
  border-radius: 18px 18px 0 0;
  background-color: #000;
}
pokedexdetail-comp title-comp .pokemonId {
  color: #ffab08;
  font-size: 24px;
}
pokedexdetail-comp title-comp .pokemonName {
  text-align: center;
  color: #ffab08;
  font-size: 36px;
}
pokedexdetail-comp title-comp .pokedexBtn {
  display: flex;
  width: 80px;
  justify-content: space-between;
  align-items: center;
}
pokedexdetail-comp title-comp .pokedexBtn .favoris {
  height: 30px;
}
pokedexdetail-comp title-comp .pokedexBtn .delete {
  height: 35px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(340deg) brightness(104%) contrast(101%);
}
pokedexdetail-comp .test {
  width: 100%;
  display: flex;
  border-bottom: 4px solid black;
}
pokedexdetail-comp .test .img-pokemon {
  width: 400px;
  border-right: 4px solid black;
}
pokedexdetail-comp .test .infoBox {
  width: 400px;
  padding: 20px;
}
pokedexdetail-comp .test .infoBox .stats {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
pokedexdetail-comp .test .infoBox .stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
pokedexdetail-comp .test .infoBox .stats div .stats-img {
  height: 25px;
}
pokedexdetail-comp .test .infoBox .stats div p {
  margin: 0 0 15px 0;
}
pokedexdetail-comp .test .infoBox .types {
  display: flex;
  justify-content: center;
}
pokedexdetail-comp .test .infoBox .types div {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
pokedexdetail-comp .test .infoBox .types div img {
  height: 25px;
  margin-right: 8px;
}
pokedexdetail-comp .comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
pokedexdetail-comp .comment .showComment {
  background-color: #003da1;
}
pokedexdetail-comp .comment .commentField {
  width: 300px;
  height: 50px;
  resize: none;
  overflow: auto;
  margin-bottom: 20px;
}
pokedexdetail-comp .comment #btn-back {
  position: absolute;
  top: 30%;
  left: 2%;
  width: 45px;
  cursor: pointer;
  transition: filter 0.3s ease;
  filter: invert(72%) sepia(14%) saturate(5075%) hue-rotate(309deg) brightness(101%) contrast(88%);
}
pokedexdetail-comp .comment #btn-back:hover {
  filter: invert(15%) sepia(49%) saturate(7483%) hue-rotate(359deg) brightness(102%) contrast(125%);
}

/*# sourceMappingURL=style.css.map */
